<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title id="titl" >Accenture</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/main.css" rel="stylesheet">

    <script type="text/javascript" src="../static/js/main.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>


  </head>

  <body background="../static/images/bg.jpg">

      <div style="margin:150px auto; width:800px;" class="demo-card-wide mdl-card mdl-shadow--2dp">
          
          <form style="margin: 10px auto;" action="#">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="sample3">
                <label class="mdl-textfield__label" for="sample3">Name...</label>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="text" id="sample3">
                  <label class="mdl-textfield__label" for="sample3">Email...</label>
                </div>
            </form>

            <div class="mdl-card__actions mdl-card--border">
              
                <br>

                <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                    <div class="mdl-tabs__tab-bar">
                        <a href="#starks-panel" class="mdl-tabs__tab is-active">Needs</a>
                        <a href="#lannisters-panel" class="mdl-tabs__tab">Interests</a>
                    </div>
                  
                    <div class="mdl-tabs__panel is-active" id="starks-panel">
                      

                        <div class="circlecons" style="padding:8px;">
                            
      
                          <img onclick="setButtonClick(this)" class="circleimage" src="../static/images/wheelchair.png" alt="Smiley face" height="60" width="60">
                    
      
                      </div>

                    </div>
                    <div class="mdl-tabs__panel" id="lannisters-panel">
                      
                        <div class="circlecons" style="padding:8px;">
                            
                            <img class="circleimage" src="../static/images/wheelchair.png" alt="Smiley face" height="42" width="42">
                            <img class="circleimage" src="../static/images/wheelchair.png" alt="Smiley face" height="42" width="42">
                            <img class="circleimage" src="../static/images/wheelchair.png" alt="Smiley face" height="42" width="42">
                            <img class="circleimage" src="../static/images/wheelchair.png" alt="Smiley face" height="42" width="42">
                            <img class="circleimage" src="../static/images/wheelchair.png" alt="Smiley face" height="42" width="42">
                            <img class="circleimage" src="../static/images/wheelchair.png" alt="Smiley face" height="42" width="42">
                            <img class="circleimage" src="../static/images/wheelchair.png" alt="Smiley face" height="42" width="42">
                            <img class="circleimage" src="../static/images/wheelchair.png" alt="Smiley face" height="42" width="42">
                            <img class="circleimage" src="../static/images/wheelchair.png" alt="Smiley face" height="42" width="42">
                            <img class="circleimage" src="../static/images/wheelchair.png" alt="Smiley face" height="42" width="42">
                            <img class="circleimage" src="../static/images/wheelchair.png" alt="Smiley face" height="42" width="42">
                            <img class="circleimage" src="../static/images/wheelchair.png" alt="Smiley face" height="42" width="42">
                            <img class="circleimage" src="../static/images/wheelchair.png" alt="Smiley face" height="42" width="42">
                            <img class="circleimage" src="../static/images/wheelchair.png" alt="Smiley face" height="42" width="42">
              
      
                      </div>

                    </div>
                  </div>

              </div>

          <div class="mdl-card__supporting-text">
            Please select the above requirementscyou would need when starting a new job as well as the interests you have so we can find you the job of your dreams !! 
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a href="slides.html" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
              Get Started
            </a>
          </div>
    
        </div>

  </body>

</html>
