<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title id="titl" >Accenture</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>


  </head>

  <body>

    <h1>Accenture Solve</h1>

  </body>

</html>
