<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title id="titl" >Accenture</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/slides.css" rel="stylesheet">

    <script type="text/javascript" src="../static/js/main.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>


  </head>

  <body background="../static/images/bg.jpg">

    <div id="card1" style="margin:100px auto; width:800px;" class="demo-card-wide mdl-card mdl-shadow--2dp">
            <div id="imgdesk" class="mdl-card__title" style="height:300px;background: url('../static/images/office1.jpg') center / cover;">
              <h2 class="mdl-card__title-text">Desk Job</h2>
            </div>

            <div class="mdl-card__actions mdl-card--border">
        
                <div style="margin: 0 auto; text-align:center;">

                <div style="float:left;">
                        <img class="faceimg" onclick="clickedFace()" src="../static/images/smile.png">
                    </div>
                    <a style="float:middle;margin-top:30px;" onclick="clickedFace()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        Pass
                    </a>
                    <div style="float:right;">
                        <img class="faceimg" onclick="clickedFace();"" src="../static/images/sad.png">
                    </div>

                </div>
            </div>

            <div class="mdl-card__supporting-text">
              Select a reaction based on how you feel about the above working environment !!
            </div>
    
          </div>


         

  </body>

</html>
