<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title id="title" >Accenture</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/slides.css') }}" rel="stylesheet">

    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>


  </head>

  <body>

    <!-- Picture -->
    <div style="margin:150px auto; width:800px;" class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
            <img src="../static/images/wheelchair.png" alt="front-of-office" height="42" width="42">
        </div>
            
        <div class="mdl-card__supporting-text">
            <p>
                This company is wheelchair accessible
            </p>
        </div>
        <div class="mdl-card__actions">
                <div class="our_button" style="padding:8px;">
                    <img src="../static/images/happy_icon.png" alt="Smiley face" height="100" width="100">
                    <img src="../static/images/meh_icon.jpg" alt="Meh face" height="100" width="100">
                    <img src="../static/images/sad_icon.jpg" alt="Sad face" height="100" width="100">
                </div>
        </div>
    </div>

    <!-- Buttons -->

  </body>

</html>
